name: Expo Android Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-android:
    runs-on: ubuntu-latest
    env:
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
      EAS_BUILD_NO_EXPO_GO_WARNING: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Expo & EAS CLI
        run: npm install -g expo-cli eas-cli

      - name: Install dependencies
        run: npm install

      - name: Login to Expo
        run: eas login --token $EXPO_TOKEN

      - name: Build Android APK
        run: eas build --platform android --profile production --non-interactive

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: "**/*.apk"